<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}" lang="en">
<body>
	<h2 th:text="#{Owners}">Owners</h2>
	<table id="owners" class="table table-striped">
		<thead>
			<tr>
				<th th:text="#{FirstName}" style="width: 200px;">First Name</th>
				<th th:text="#{LastName}" style="width: 200px;">Last Name</th>
				<th th:text="#{Address}" style="width: 200px;">Address</th>
				<th th:text="#{City}" style="width: 200px;">City</th>
				<th th:text="#{Telephone}" style="width: 200px;">Telephone</th>
				<th th:text="#{Pets}" style="width: 200px;">Pets</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner.firstName}">John</td>
				<td th:text="${owner.lastName}">Wyck</td>
				<td th:text="${owner.address}">441 Sunset</td>
				<td th:text="${owner.city}">Tulsa</td>
				<td th:text="${owner.telephone}">5554545</td>
				<td>
					<p th:each="pet: ${owner.pets}">
						<span th:text="${pet.name}">Fido</span>
					</p>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>